td {
  position: relative;
  height: 50px;
  width: 50px;
  cursor: pointer;
  text-align: center;
  background-color: rgb(121, 121, 121);


}

.blank {
  height: 50px;
  width: 50px;
  border-top: 	3px solid white;
	border-left: 	3px solid white;
  border-right: 	3px solid #707070;
	border-bottom: 	3px solid #707070;

  background-color:rgb(73, 73, 73);

}

#bomb {
  height: 50px;
  width: 50px;
  position: relative;
}

.flag {
  height: 50px;
  width: 50px;
  position: relative;
}

.face {
  height: 60px;
  width: 60px;
  position: relative;
}